{{ partial "head.html" . }}
  <body>
    <div id="blog">
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}"
        class="{{ with .Params.coverimage }}hasCover{{ end }}
               {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
               {{ with .Params.coverCaption }}hasCoverCaption{{ end }}">
        <article class="post" itemscope itemType="http://schema.org/BlogPosting">
          <div class="post-single-wrapper">
            {{ if .Params.coverimage }}
              <div class="post-header-cover
                {{ if .Params.metaalignment }}text-{{ .Params.metaalignment }}{{ else }}text-left{{ end }}
                {{ with .Params.coversize }}post-header-cover--{{ . }}{{ end }}"
                   style="background-image:url('{{ .Params.coverimage }}')"
                   data-behavior="{{ $.Scratch.Get "sidebarBehavior" }}">
              {{ if or (eq .Params.covermeta "in") (not .Params.covermeta) }}
              <!--{{ partial "post/header.html" . }}-->
              {{ end }}
              </div>
            {{ end }}
            {{ with .Params.covercaption }}
              <span class="post-header-cover-caption caption">{{ . | markdownify }}</span>
            {{ end }}

            {{ partial "post/header.html" . }}

            <div class="post-content markdown" itemprop="articleBody">
              <div class="">
                {{ (replaceRE "<!--\\s*[t|T][o|O][c|C]\\s*-->" (printf "<h1 id=\"table-of-contents\">%s</h1>%s" (i18n "post.toc") .TableOfContents) .Content) | safeHTML }}
                {{ partial "post/gallery.html" . }}
              </div>
            </div>
            <div id="post-footer" class="post-footer">
              {{ if (not (eq .Params.showTags false)) }}
                {{ with .Params.tags }}
                  {{ $tagsLength := len . }}
                  {{ if gt $tagsLength 0 }}
                    <div class="post-footer-tags">
                      <span class="text-color-light text-small">{{ i18n "post.tagged_in" }}</span><br/>
                      {{ partial "post/tag.html" $ }}
                    </div>
                  {{ end }}
                {{ end }}
              {{ end }}
              {{ partial "post/actions.html" . }}
              {{ if not (eq .Params.comments false) }}
                {{ if .Site.DisqusShortname }}
                  {{ partial "post/disqus.html" . }}
                {{ end }}
              {{ end }}
            </div>
          </div>
        </article>
        {{ partial "footer.html" . }}
      </div>
      <div id="bottom-bar" class="post-bottom-bar" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
        {{ partial "post/actions.html" . }}
      </div>
      {{ partial "post/share-options.html" . }}
    </div>
{{ partial "foot.html" . }}
